<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :categoryid %><br />
    <%= f.number_field :categoryid %>
  </div>
  <div class="field">
    <%= f.label 'Номер счета' %><br />
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label 'Дата' %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label 'Товары' %><br />
    <%= f.text_area :goods %>
  </div>
  <div class="field">
    <%= f.label 'Цена' %><br />
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label 'Скидка' %><br />
    <%= f.number_field :sale %>
  </div>
  <div class="field">
    <%= f.label 'Сумма' %><br />
    <%= f.number_field :total %>
  </div>
  <div class="field">
    <%= f.label 'Комментарии' %><br />
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit 'Сохранить' %>
  </div>
<% end %>
