<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Номер счета' %><br />
    <%= f.number_field :number, {:value => Invoice.count() + 1} %>
  </div>
  <div class="field">
    <%= f.label 'Дата' %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label 'Товары' %><br />
    <%= f.collection_select :goods, Product.order(:id), :title, :title, {}, {multiple:true, :id=>"goods", :style=>"width:100%;"} %>
  </div>
  <div class="field">
    <%= f.label 'Цена' %><br />
    <%= f.number_field :price,{ :id => "price"} %>
  </div>
  <div class="field">
    <%= f.label 'Скидка' %><br />
    <%= f.number_field :sale,{ :id => "sale"} %>
  </div>
  <div class="field">
    <%= f.label 'Сумма' %><br />
    <%= f.number_field :total,{ :id => "total"} %>
  </div>
  <div class="field">
    <%= f.label 'Комментарии' %><br />
    <%= f.text_area :comments,{ :id => "comments"} %>
  </div>
  <div class="actions">
    <%= f.submit 'Сохранить' %>
  </div>
<% end %>
