<h1>Журнал счетов</h1>

<table class="table table-striped">
  <tr>
    <th>Номер счета</th>
    <th>Дата</th>
    <th>Список товаров</th>
    <th>Цена</th>
    <th>Скидка</th>
    <th>Сумма</th>
    <th>Комментарии</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @invoices.each do |invoice| %>
  <tr>
    <td><%= invoice.categoryid %></td>
    <td><%= invoice.number %></td>
    <td><%= invoice.date %></td>
    <td><%= invoice.goods %></td>
    <td><%= invoice.price %></td>
    <td><%= invoice.sale %></td>
    <td><%= invoice.total %></td>
    <td><%= invoice.comments %></td>
    <td><%= link_to 'Просмотр', invoice %></td>
    <td><%= link_to 'Редактирование', edit_invoice_path(invoice) %></td>
    <td><%= link_to 'Удаление', invoice, confirm: 'Вы уверены?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новый счёт', new_invoice_path %>
