<p id="notice"><%= notice %></p>

<p>
  <b>Categoryid:</b>
  <%= @invoice.categoryid %>
</p>

<p>
  <b>Number:</b>
  <%= @invoice.number %>
</p>

<p>
  <b>Date:</b>
  <%= @invoice.date %>
</p>

<p>
  <b>Goods:</b>
  <%= @invoice.goods %>
</p>

<p>
  <b>Price:</b>
  <%= @invoice.price %>
</p>

<p>
  <b>Sale:</b>
  <%= @invoice.sale %>
</p>

<p>
  <b>Total:</b>
  <%= @invoice.total %>
</p>

<p>
  <b>Comments:</b>
  <%= @invoice.comments %>
</p>


<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
