<h1>Журнал отгрузок</h1>

<table class="table table-striped">
  <tr>
    <th>Дата</th>
    <th>Транспортная компания</th>
    <th>Номер накладной</th>
    <th>Комментарии</th>
    <th>Контрагент</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @logistics.each do |logistic| %>
  <tr>
    <td><%= logistic.date %></td>
    <td><%= logistic.logistic %></td>
    <td><%= logistic.docnumber %></td>
    <td><%= logistic.comments %></td>
    <td><%= logistic.client %></td>
    <td><%= link_to 'Просмотр', logistic %></td>
    <td><%= link_to 'Редактирование', edit_logistic_path(logistic) %></td>
    <td><%= link_to 'Удаление', logistic, confirm: 'Вы уверены?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить отгрузку', new_logistic_path %>
