<p id="notice"><%= notice %></p>

<p>
  <b>Дата:</b>
  <%= @logistic.date %>
</p>

<p>
  <b>Транспортная компания:</b>
  <%= @logistic.logistic %>
</p>

<p>
  <b>Номер накладной:</b>
  <%= @logistic.docnumber %>
</p>

<p>
  <b>Комментарии:</b>
  <%= @logistic.comments %>
</p>

<p>
  <b>Клиент:</b>
  <%= @logistic.client %>
</p>


<%= link_to 'Редактирование', edit_logistic_path(@logistic) %> |
<%= link_to 'Назад', logistics_path %>
