<h1>Список контрагентов</h1>

<table class="table table-striped">
  <tr>
    <th>Номер</th>
    <th>Имя</th>
    <th>Контактные данные</th>
    <th>Комментарии</th>
    <th>Скидка</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.count %></td>
    <td><%= client.name %></td>
    <td><%= client.contact %></td>
    <td><%= client.comments %></td>
    <td><%= client.sale %></td>
    <td><%= link_to 'Просмотр', client %></td>
    <td><%= link_to 'Редактирование', edit_client_path(client) %></td>
    <td><%= link_to 'Удаление', client, confirm: 'Вы уверены?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить контрагента', new_client_path %>
