
<h1>Список товаров</h1>

<%= form_tag products_path, :method => 'get', :id => "products_search" do %>

  <p>
    <%= text_field_tag :search, params[:search], :id => "keyword" %>
    <%= submit_tag "Искать", :name => nil %>
  </p>
  <div id="products"><%= render 'products' %></div>
<% end %>





<%= will_paginate @products %>
<br />

<%= link_to 'Добавить товар', new_product_path %>
