<footer class="footer">
  <small>
    <a href="http://moloko.ws/">Software Development</a>
    by Dmitri E. Molokov
  </small>
  <nav>
    <ul>
          <li><%= link_to "Главная",    root_path %></li>
          <li><%= link_to "Контрагенты",    clients_path %></li>
          <li><%= link_to "Товары",    store_path %></li>
          <li><%= link_to "Счета",    invoices_path %></li>
          <li><%= link_to "Логистика",    logistics_path %></li>
          <li><%= link_to "Аналитика",    analitics_path %></li>
          <li><%= link_to "Задачи",    tasks_path %></li>
          <li><%= link_to "Помощь",    help_path %></li>

    </ul>
  </nav>
</footer>