<footer class="footer">
  <small>
    <a href="http://moloko.ws/">Software Development</a>
    by Dmitri E. Molokov
  </small>
  <nav>
    <ul>
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Clients",    clients_path %></li>
          <li><%= link_to "Products",    categories_path %></li>
          <li><%= link_to "Invoices",    invoices_path %></li>
          <li><%= link_to "Logistic",    logistics_path %></li>
          <li><%= link_to "Analitics",    analitics_path %></li>
          <li><%= link_to "Tasks",    tasks_path %></li>
          <li><%= link_to "Help",    help_path %></li>
          <li><%= link_to "Contact", contact_path %></li>

    </ul>
  </nav>
</footer>