<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Technika CRM App", '#', id: "logo" %>
      <nav>
      	
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Clients",    clients_path %></li>
          <li><%= link_to "Products",    categories_path %></li>
          <li><%= link_to "Invoices",    invoices_path %></li>
          <li><%= link_to "Logistic",    logistics_path %></li>
          <li><%= link_to "Analitics",    analitics_path %></li>
          <li><%= link_to "Tasks",    tasks_path %></li>
          <li><%= link_to "Help",    help_path %></li>


          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>